<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.lineacomune.geomobi"
        versionCode="10" 
        version   = "1.0.4">

	    <name>Geomobi</name>
	
	    <description>
	        Geomobi 
	    </description>
	
	    <author href="https://www.lineacomune.it" email="supporto@lineacomune.it">
	        Linea Comune spa
	    </author>

		<icon src="resources/icons/Icon.png" gap:platform="ios" width="57" height="57" />
		<icon src="resources/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
		<icon src="resources/icons/Icon-72@2x.png" gap:platform="ios" width="114" height="114" />

		<gap:plugin name="FacebookConnect">
  			<param name="APP_ID" value="302909829807855" />
 		</gap:plugin>
		

	</widget>