<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.lineacomune.geomobi"
        versionCode="10" 
        version   = "1.0.4">

	    <name>Geomobi</name>
	
	    <description>
	        Geomobi 
	    </description>
	
	    <author href="https://www.lineacomune.it" email="supporto@lineacomune.it">
	        Linea Comune spa
	    </author>

		<icon src="resources/icons/Icon.png" gap:platform="ios" width="57" height="57" />
		<icon src="resources/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
		<icon src="resources/icons/Icon-72@2x.png" gap:platform="ios" width="114" height="114" />
		
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="false" />

		<gap:splash src="resources/loading/Default-568h@2x" width="563" height="1000" />
		<gap:splash src="resources/loading/Default-Landscape@2x~ipad" width="2048" height="1496" />
		<gap:splash src="resources/loading/Default-Landscape~ipad" width="1024" height="768" />
		<gap:splash src="resources/loading/Default-Portrait@2x~ipad" width="1536" height="2008" />
		<gap:splash src="resources/loading/Default.png" width="320" height="480" />
		<gap:splash src="resources/loading/Default@2x" width="640" height="960" />
		<gap:splash src="resources/loading/Default~ipad" width="768" height="1024" />

		<gap:plugin name="FacebookConnect">
  			<param name="APP_ID" value="302909829807855" />
 		</gap:plugin>
		

	</widget>